.classpath
.project
bin/
target/
.settings
.DS_Store
.groovy
.idea/
**/*.iml
*.iml
.gradle/
build
scratches/
src/main/groovy/fuzzycsv/JJ.groovy
src/test/resources/dsl
out/
.attach_*
src/main/playground/
/src/test/groovy/compat/fuzzycsv/
